<div id="main-div" class="clearfix">
    <div id="sidebar-div">
        <img src="assets/img1/a2.jpeg" width="600px" height="485px">
        
    </div>
    <div id="body-div">
        <div id="body-sub1">
          <div class="content">
            <div class="container-fluid">    			
                <div class="alert alert-success fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong><span class="ti ti-announcement fa-2x"></span> </strong> <strong>&nbsp;&nbsp;Welcome to your Admin Dashboard!!</strong>.
                </div>						
                <div class="row"><!--row begins-->                			
                    <div class="col-lg-3 col-sm-6">
                        <div class="card w-300">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-info text-center">
                                            <i class="ti-id-badge"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                        <div class="numbers">
                                            <p><img src="../assets/img1/a4.jpeg" style="width:150px;height: 100px;"/>
                                            </p>		
                                            <a href="/admission"><strong>ADMISSION </strong> </a>							   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card w-200">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-crown"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                      <div class="numbers">
                                        <p><img src="../assets/img1/a5.jpeg" style="width:150px;height: 100px;"/>
                                        </p>		
                                        <a href="/studentinfo"><strong>STUDENTS </strong></a>							   
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--row ends-->
                <br><br>
                <!--row begins-->
                    <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card w-200">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-success text-center">
                                            <i class="ti-crown"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                      <div class="numbers">
                                        <p><img src="../assets/img1/a6.jpeg" style="width:150px;height: 100px;"/>
                                        </p>		
                                        <a href="/fees"><strong>FEES DETAILS </strong></a>							   
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-lg-3 col-sm-6">
                        <div class="card w-200">
                            <div class="content">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="icon-big icon-danger text-center">
                                            <i class="ti-blackboard"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-7">
                                      <div class="numbers">
                                        <p><img src="../assets/img1/a7.jpeg" style="width:150px;height: 100px;"/>
                                        </p>		
                                        <a href="/staffInfo"><strong>STAFF DETAILS </strong></a>							   
                                    </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>				
                </div>		
            </div>	
        </div>
            
        </div>
       
    </div>
</div>